.driverCard {
    background-color: #455eb5;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}

.driverCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left:40%;
}

.faceBook-Box {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}